# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log
# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyCharm
.idea/

# VSCode
.vscode/

# Temporary files
*.tmp
*.swp

#  /$$$$$$$$        /$$$$$$        /$$$$$$$$        /$$$$$$        /$$   /$$       /$$$$$$$         /$$$$$$
# | $$_____/       /$$__  $$      |__  $$__/       /$$__  $$      | $$  | $$      | $$__           /$$__  $$
# | $$            | $$  \ $$         | $$         | $$  \ $$      | $$  | $$      | $$  \         | $$  \ $$
# | $$$$$         | $$  | $$         | $$         | $$$$$$$$      | $$$$$$$$      | $$$$$$$       | $$$$$$$$
# | $$__/         | $$  | $$         | $$         | $$__  $$      | $$__  $$      | $$__  $$      | $$__  $$
# | $$            | $$  | $$         | $$         | $$  | $$      | $$  | $$      | $$  \ $$      | $$  | $$
# | $$$$$$$$      | $$  | $$         | $$         | $$  | $$      | $$  | $$      | $$$$$$$/      | $$  | $$
# |________/      |__/  |__/         |__/         |__/  |__/      |__/  |__/      |_______/       |__/  |__/`

